<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-card w3-black w3-padding-16">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"  href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large" >HOME</a>
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >ABOUT</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >CONTACT</a>
    </div>
  </div>

  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" >ABOUT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" >CONTACT</a>
  </div>


  <!-- Header with full-height image -->
<header class="bgimg w3-display-container" id="home">
  <div class="w3-display-left w3-dark" style="padding:48px;">
    <span class="w3-jumbo w3-hide-small w3-padding-large w3-large w3-margin-top w3-opacityy w3-hover-opacity-off" style="border-radius:20px;font-family:algerian;color:white" >Welcome To Biblioteca</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium" style="font-family:algerian;color:white">Welcome To Biblioteca</span><br><br>
    <span class="w3-large"style="color:white">Get books(Some tag line)</span>
  </div>
</header>

<!-- The about Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about">
    <h2 class="w3-wide">THE About</h2>
    <p class="w3-opacity"><i></i></p>
    <p class="w3-justify">There are varied elemental methods and techs abaft a Chatbot in various areas like e-tourism, e-commerce, healthcare etc. that allows people to textually/vocally communicate for a particular purpose. Chatbots are a form of artificial intelligence system that permits human-computer interaction in a natural language (human understandable) form.</p>
    <p class="w3-justify"> Here, we target on elaborating the adaptability of chatbots in the context of recommender systems. In order to make a recommendation, the chatbot has to engage with the individual to discover preferences and choices so as to generate a relevant recommendation with the use of effective and efficient models. </p>
    <p class="w3-justify">These systems are widely used in distinct areas, as they tend to offer and serve customers with the most advisable products or items that can satisfy their needs to the best.</p>
  </div>


  <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64"  id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> banglore, karnataka<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +91 123456<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>
        <div class="w3-col m6">
          <form action="" target="_blank">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
              <div class="w3-half">
                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
              </div>
              <div class="w3-half">
                <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
              </div>
            </div>
            <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
            <button class="w3-button w3-hover w3-section" type="submit">SEND</button>
          </form>
        </div>
      </div>
    </div>




<!-- Chatbot -->
<div class="container">
    <div class="chatbox w3-bottom w3-padding-16">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Biblioteca. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages" id="chatdiv">
                <div id="textdiv"></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};

        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else {
            x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
